{
    "branch": "master",
    "plugins": [
        "@semantic-release/commit-analyzer",
        [
            "@semantic-release/exec",
            {
                "publishCmd": "scripts/publis-all.sh ${nextRelease.version}"
            }
        ]
    ]
}
