{
    "branch": "master",
    "plugins": [
        "@semantic-release/commit-analyzer",
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "echo ${nextRelease.version}"
            }
        ]
    ]
}
