{
    "branch": "master",
    "plugins": [
        "@semantic-release/commit-analyzer",
        [
            "@semantic-release/exec",
            {
                "publishCmd": "scripts/publish-all.sh ${nextRelease.version}",
		"successCmd": "git add . && git push -m \"patch(version): version bump\""
            }
        ]
    ]
}
